Repository bekmuxtorov/Word-with-superdoc: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

chore: more baselines logging
  .github/workflows/baseline-superdoc.yml
Due: none

chore: add context7
  context7.json
Due: format

chore: pre-commit pnpm i
  lefthook.yml
Due: none

feat: telemetry (#1932)
  packages/super-editor/src/core/Editor.telemetry.test.ts
  packages/super-editor/src/core/Editor.ts
  packages/super-editor/src/core/super-converter/SuperConverter.js
  packages/super-editor/src/core/super-converter/SuperConverter.test.js
  packages/super-editor/src/core/types/EditorConfig.ts
  packages/superdoc/src/SuperDoc.vue
  packages/superdoc/src/core/SuperDoc.js
  packages/superdoc/src/core/SuperDoc.test.js
  packages/superdoc/src/core/helpers/file.js
  packages/superdoc/src/core/helpers/file.test.js
  packages/superdoc/src/dev/components/SuperdocDev.vue
  packages/superdoc/src/telemetry.test.ts
  shared/common/Telemetry.d.ts
  shared/common/Telemetry.test.ts
  shared/common/Telemetry.ts
  shared/common/index.ts
Due: format, lint

fix: disable footnotes typing (#1974)
  packages/layout-engine/painters/dom/src/renderer.ts
  packages/super-editor/src/core/presentation-editor/pointer-events/EditorInputManager.ts
  packages/super-editor/src/core/presentation-editor/tests/EditorInputManager.footnoteClick.test.ts
Due: format, lint

fix(super-editor): restore marks correctly after clear format + undo (SD-1771) (#1967)
  devtools/visual-testing/tests/interactions/stories/formatting/clear-format-undo.ts
  packages/super-editor/src/core/commands/unsetAllMarks.js
  packages/super-editor/src/extensions/format-commands/clear-format-undo.test.js
  packages/super-editor/src/tests/data/sdpr.docx
Due: format, lint

fix: trigger release
  packages/superdoc/src/index.js
Due: format, lint

fix: trigger patch release
  packages/superdoc/src/index.js
Due: format, lint

fix(react): add commit-filter to prevent releases on unrelated changes
  packages/react/.releaserc.cjs
Due: none

fix(ci): narrow react release workflow path filters
  .github/workflows/release-react.yml
Due: none

fix(ci): move superdoc releaserc to package dir for proper commit filtering
  .github/workflows/release-superdoc.yml
  packages/superdoc/.releaserc.cjs
Due: none

fix(tracked-changes): fix suggested insertions from paste failures (#1969)
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/replaceStep.js
  packages/super-editor/src/extensions/track-changes/trackChangesHelpers/replaceStep.test.js
Due: format, lint

fix(super-converter): add tableHeader export handler to fix corrupted docx (#1900)
  packages/super-editor/src/core/super-converter/exporter.js
  packages/super-editor/src/core/super-converter/v3/handlers/w/tr/tr-helpers.js
  packages/super-editor/src/core/super-converter/v3/handlers/w/tr/tr-translator.js
  packages/super-editor/src/tests/export/exporter-utils.test.js
  packages/super-editor/src/tests/export/tableExporter.test.js
Due: format, lint

chore: add codeowners
  .github/CODEOWNERS
Due: none

fix(super-converter): resolve table style conditional shading on cell import (SD-1833) (#1985)
  .github/workflows/spec-review.yml
  .gitignore
  devtools/visual-testing/package.json
  devtools/visual-testing/pnpm-lock.yaml
  devtools/visual-testing/scripts/r2-sync-registry.sh
  packages/layout-engine/pm-adapter/src/converters/table.ts
  packages/layout-engine/style-engine/src/cascade.ts
  packages/layout-engine/style-engine/src/ooxml/index.test.ts
  packages/layout-engine/style-engine/src/ooxml/index.ts
Due: format, lint

fix: preserve text selection highlight on right-click (#1994)
  packages/super-editor/src/core/presentation-editor/PresentationEditor.ts
Due: format, lint

fix(layout-bridge): defer table fragment click mapping to geometry fallback (#1968)
  devtools/visual-testing/tests/interactions/stories/basic-commands/table-cell-click-positioning.ts
  packages/layout-engine/layout-bridge/src/dom-mapping.ts
  packages/layout-engine/layout-bridge/src/index.ts
  packages/layout-engine/layout-bridge/test/clickToPosition.test.ts
  packages/layout-engine/layout-bridge/test/dom-mapping.test.ts
  packages/layout-engine/layout-bridge/test/mock-data.ts
  packages/layout-engine/painters/dom/src/constants.ts
  packages/layout-engine/painters/dom/src/table/renderTableFragment.test.ts
  packages/layout-engine/painters/dom/src/table/renderTableFragment.ts
Due: format, lint

ci(visual): enforce passing visual tests
  .github/workflows/visual-test.yml
Due: none

fix(visual-testing): skip unscrollable trailing pages in screenshotPages (SD-1898)
  tests/visual/tests/fixtures/superdoc.ts
Due: format, lint

fix(visual-testing): use Playwright click for tripleClickLine (SD-1898)
  tests/visual/tests/fixtures/superdoc.ts
Due: format, lint

ci(visual): auto-generate baselines when spec files are added to main
  .github/workflows/visual-baseline.yml
Due: none

fix: collaboration cursor styles fix
  packages/super-editor/src/assets/styles/elements/prosemirror.css
  packages/super-editor/src/core/presentation-editor/remote-cursors/RemoteCursorRendering.ts
Due: format, lint

feat: update telemetry configuration to prioritize root licenseKey (#2016)
  apps/docs/resources/telemetry.mdx
  packages/super-editor/src/core/Editor.telemetry.test.ts
  packages/super-editor/src/core/Editor.ts
  packages/super-editor/src/core/types/EditorConfig.ts
  packages/superdoc/src/SuperDoc.vue
  packages/superdoc/src/core/SuperDoc.js
  packages/superdoc/src/core/types/index.js
  packages/superdoc/src/telemetry.test.ts
Due: format, lint

Initial commit
  .gitignore
  LICENSE
Due: none

feat: add superdoc dev shell for document testing
  packages/superdoc/dev-styles.css
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: format

fix: solve image dragging conflict by removing NodeResizer
  packages/super-editor/src/extensions/index.js
Due: format, lint

fix: cleanup NodeResizer imports/exports
  packages/super-editor/src/extensions/index.js
Due: format, lint

fix: QR code DOCX export issue
  demos/word-addin/src/taskpane/taskpane.html
  devtools/visual-testing/packages/harness/index.html
  packages/layout-engine/painters/dom/src/table/renderTableCell.ts
  packages/super-editor/src/core/DocxZipper.js
  packages/super-editor/src/core/super-converter/v3/handlers/wp/helpers/decode-image-node-helpers.js
  packages/super-editor/src/extensions/image/image.js
  packages/super-editor/src/extensions/image/imageHelpers/imageRegistrationPlugin.js
  packages/superdoc/index.html
  packages/superdoc/src/assets/qr.png
  packages/superdoc/src/dev/components/SuperdocDev.vue
  packages/superdoc/vite.config.js
Due: format, lint

fix: QR code DOCX export issue
  packages/super-editor/src/core/super-converter/v3/handlers/wp/helpers/decode-image-node-helpers.js
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: format, lint

feat: add SuperdocDev.vue component to serve as a development shell for testing SuperDoc features.
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: format

added spinner for file upload process
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: format

feat: add SuperdocDev component for local development and testing of SuperDoc features including file uploads, URL loading, and collaboration.
  packages/superdoc/src/dev/components/SuperdocDev.vue
Due: format

docs: Add SuperDoc integration guide and documentation files for Word document loading and saving via PostMessage API.
  INTEGRATION_GUIDE.html
  doc.html
Due: none

feat: Implement JWT authentication for user login and iframe access via query parameter.
  .gitignore
  config/settings.py
  config/urls.py
  files/authentication.py
  files/views.py
  index.html
  requirements.txt
Due: none

Updated requirements.txt
  requirements.txt
Due: none

feat: Add IIS deployment guide and CustomModal component, and update .gitignore to remove the dev directory entry.
  .gitignore
  IIS_DEPLOYMENT_GUIDE.md
  packages/superdoc/src/dev/components/CustomModal.vue
Due: format

feat: Introduce new `@superdoc/pm-adapter` package with its `package.json` configuration.
  packages/layout-engine/pm-adapter/package.json
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,css,scss,json,vue}
  lint: any of: *.{js,jsx,ts,tsx}
