Repository bekmuxtorov/Word-with-superdoc: changes, and which lefthook commands are due for each by the changed paths.
All: format, lint

format:
  run: pnpm exec prettier --write {staged_files}
  stage_fixed: true

lint:
  run: pnpm exec eslint --fix {staged_files}
  stage_fixed: true

feat: add template-builder package to monorepo (#1888)
  .github/workflows/ci-superdoc.yml
  .github/workflows/ci-template-builder.yml
  .github/workflows/deploy-demos.yml
  .github/workflows/release.yml
  packages/template-builder/.gitignore
  packages/template-builder/.releaserc.cjs
  packages/template-builder/LICENSE
  packages/template-builder/README.md
  packages/template-builder/demo/index.html
  packages/template-builder/demo/package.json
  packages/template-builder/demo/public/CNAME
  packages/template-builder/demo/src/App.css
  packages/template-builder/demo/src/App.tsx
  packages/template-builder/demo/src/index.css
  packages/template-builder/demo/src/main.tsx
  packages/template-builder/demo/tsconfig.json
  packages/template-builder/demo/vite.config.ts
  packages/template-builder/package.json
  packages/template-builder/src/defaults/FieldList.tsx
  packages/template-builder/src/defaults/FieldMenu.tsx
  packages/template-builder/src/defaults/index.ts
  packages/template-builder/src/index.tsx
  packages/template-builder/src/test/setup.ts
  packages/template-builder/src/types.ts
  packages/template-builder/tsconfig.json
  packages/template-builder/vite.config.ts
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format, lint

fix(cli): document -h flag in help text
  apps/cli/src/index.ts
Due: format, lint

fix: console log
  apps/cli/src/index.ts
Due: format, lint

fix(cli): move bundled deps to devDependencies
  apps/cli/package.json
  pnpm-lock.yaml
  pnpm-workspace.yaml
Due: format

fix: cli skill uses latest
  skills/superdoc/SKILL.md
Due: none

docs: add Document API coming soon tip (#1919)
  .github/workflows/ci-superdoc.yml
  .github/workflows/docs-validation.yml
  apps/docs/core/supereditor/methods.mdx
  apps/docs/docs.json
  apps/docs/document-api/overview.mdx
  apps/docs/getting-started/ai-agents.mdx
  package.json
Due: format

ci: add split release workflows
  .github/workflows/release-cli.yml
  .github/workflows/release-esign.yml
  .github/workflows/release-superdoc.yml
  .github/workflows/release-template-builder.yml
Due: none

fix(superdoc): update comment text
  packages/superdoc/src/index.js
Due: format, lint

fix(cli): add jsdoc params to formatReplaceResult (#1923)
  apps/cli/src/index.ts
Due: format, lint

chore: update release comment
  .releaserc.cjs
  apps/cli/.releaserc.cjs
  packages/esign/.releaserc.cjs
  packages/template-builder/.releaserc.cjs
Due: none

fix(template-builder): add jsdoc to TemplateField interface (#1929)
  packages/template-builder/src/types.ts
Due: format, lint

fix(cli): lowercase docx in help text (#1928)
  apps/cli/src/index.ts
Due: format, lint

fix(vscode-ext): cleanup + restructure
  .github/workflows/release-vscode.yml
  apps/vscode-extension/.eslintrc.json
  apps/vscode-extension/.gitignore
  apps/vscode-extension/.releaserc.cjs
  apps/vscode-extension/.vscodeignore
  apps/vscode-extension/main.js
  apps/vscode-extension/package-lock.json
  apps/vscode-extension/package.json
  apps/vscode-extension/test-output.docx
  apps/vscode-extension/tsconfig.json
  apps/vscode-extension/webview/main.js
  lefthook.yml
  pnpm-lock.yaml
Due: format, lint

ci(vscode): fix ext
  .github/workflows/release-vscode.yml
Due: none

ci(vscode): fix superdoc build
  .github/workflows/release-vscode-ext.yml
Due: none

feat(vscode-ext): sync from main
  apps/vscode-ext/.gitignore
  apps/vscode-ext/.releaserc.cjs
  apps/vscode-ext/.vscode/launch.json
  apps/vscode-ext/.vscodeignore
  apps/vscode-ext/LICENSE
  apps/vscode-ext/README.md
  apps/vscode-ext/logo.png
  apps/vscode-ext/package.json
  apps/vscode-ext/src/extension.ts
  apps/vscode-ext/src/superdocEditorProvider.ts
  apps/vscode-ext/tsconfig.json
  apps/vscode-ext/webview/main.js
  apps/vscode-ext/webview/style.css
Due: format, lint

fix: package lock
  pnpm-lock.yaml
Due: none

fix: lock fiel
  pnpm-lock.yaml
Due: none

feat(vscode-ext): sync from main
  apps/vscode-ext/.releaserc.cjs
Due: none

feat(vscode-ext): sync from main
  package.json
  pnpm-workspace.yaml
Due: format

fix(vscode): publish pre-built vsix to avoid npm list
  apps/vscode-ext/package.json
Due: format

chore(vscode): 1.0.0 [skip ci]
  apps/vscode-ext/package.json
Due: format

chore: fix pre-commit for non ts files
  lefthook.yml
Due: none

fix(converter): handle absolute paths in header/footer relationship targets (#1945)
  packages/super-editor/src/core/super-converter/v2/importer/docxImporter.js
  packages/super-editor/src/core/super-converter/v3/handlers/wp/helpers/encode-image-node-helpers-header.test.js
Due: format, lint

chore: fix types in build
  packages/layout-engine/contracts/package.json
  pnpm-lock.yaml
Due: format

fix: use DEFLATE compression for docx export instead of STORE (#1933)
  packages/super-editor/src/core/DocxZipper.js
  packages/super-editor/src/core/DocxZipper.test.js
  packages/super-editor/src/core/Editor.ts
Due: format, lint

chore: clean up perf logs
  packages/super-editor/src/core/Editor.ts
  packages/super-editor/src/core/ExtensionService.js
Due: format, lint

fix(superdoc): enhance comment input focus handling and edit init (#1935)
  packages/super-editor/src/components/SuperInput.test.ts
  packages/super-editor/src/components/SuperInput.vue
  packages/superdoc/src/components/CommentsLayer/CommentDialog.test.js
  packages/superdoc/src/components/CommentsLayer/CommentDialog.vue
  packages/superdoc/src/components/CommentsLayer/CommentInput.vue
  packages/superdoc/src/components/CommentsLayer/FloatingComments.vue
Due: format, lint

chore: add sd-1731 interactions story (#1948)
  devtools/visual-testing/tests/interactions/stories/comments-tcs/edit-comment-text.ts
Due: format, lint

chore: update lock
  pnpm-lock.yaml
Due: none

chore: update lock
  devtools/visual-testing/packages/harness/package.json
  pnpm-lock.yaml
Due: format

chore: fix baseline script
  .github/workflows/baseline-superdoc.yml
  devtools/visual-testing/packages/harness/package.json
  pnpm-lock.yaml
Due: format

chore: fix set-superdoc-version
  devtools/visual-testing/scripts/set-superdoc-version.ts
Due: format, lint

chore: baselines script tweaks
  .github/workflows/baseline-superdoc.yml
  devtools/visual-testing/README.md
  devtools/visual-testing/scripts/generate-interactions.ts
  devtools/visual-testing/scripts/generate-refs.ts
Due: format, lint

chore: more baseline logs
  devtools/visual-testing/scripts/baseline-interactions.ts
  devtools/visual-testing/scripts/baseline-visual.ts
Due: format, lint

chore: more baselines logging
  .github/workflows/baseline-superdoc.yml
  devtools/visual-testing/scripts/corpus-provider.ts
  devtools/visual-testing/scripts/generate-interactions.ts
  devtools/visual-testing/scripts/generate-refs.ts
Due: format, lint

chore: more baselines logging
  devtools/visual-testing/scripts/generate-interactions.ts
  devtools/visual-testing/scripts/generate-refs.ts
Due: format, lint

chore: another baselines fix
  devtools/visual-testing/packages/test-helpers/package.json
  devtools/visual-testing/pnpm-lock.yaml
Due: format

Path conditions:
  format: any of: *.{js,jsx,ts,tsx,css,scss,json,vue}
  lint: any of: *.{js,jsx,ts,tsx}
